@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Libre+Baskerville:wght@700&family=Secular+One&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.front {

  width: 100vw;
  background-color: black;
  height: 100%;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  position: absolute;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 2em;
  font-weight: bold;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 25px;
}

.navbar .nav-links ul li.active a {
  color: #89cce0;
  font-weight: 600;
}

.navbar a {
  color: white;
}

.navbar .fa-bars {
  display: none;
  color: white;
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 35px;
  cursor: pointer;
}

@media screen and (max-width:900px) {
  .navbar {
    padding: 0;
  }

  .navbar .logo {
    display: none;
  }

  .navbar .fa-bars {
    display: block;
  }

  .nav-links {
    top: 0;
    left: -100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100vh;
    transition: left 0.5s ease;

  }

  .nav-links.mobile-menu {
    left: 0;
    z-index: 1;

  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar .nav-links ul li {
    margin: 25px 0;
    font-size: 1.2em;
  }

  .fa-bars {
    display: block;
  }
}

.cont h1 {

    color: #89cce0;
    margin-bottom: 4.5rem;
    font-size: 38px;
    font-family: 'Secular One', sans-serif;
    margin-top: 147px;
}

.mt-4{
  margin-top: 10rem !important;
}

.social-container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  margin: 59px auto; 
  max-width: 800px;
  margin-bottom: -64px;
}


.social-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f2f2f2;
  margin: 20px;
  transition: transform 0.2s ease;
}

.social-circle:hover {
  transform: scale(1.2);
}

.social-icon img {
  max-width: 50px;
  max-height: 50px;
  object-fit: contain;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .social-circle {
    width: 80px; 
    height: 80px; 
  }

  .social-icon img {
    max-width: 40px;
    max-height: 40px; 
  }
}

@keyframes slideInTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.image img{
  animation: slideInTop 1s ease-in-out forwards;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  opacity: 0;
}
.animate-slide-in-left.show {
  animation: slideInLeft 1s ease-in-out forwards;
}


